<script type="text/javascript" src="/static/js/jquery-1.6.1.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.validate.js"></script>
<script type="text/javascript" src="/static/js/jquery.metadata.js"></script>
<script type="text/javascript" src="/static/js/messages_zh.js"></script>
<script src="/static/js/md5.js"></script>
<script>
function myFunction() {
    document.getElementById('password').value = MD5(document.getElementById('password').value);
    document.getElementById('passwd').value = MD5(document.getElementById('passwd').value);
    document.getElementById('pre_password').value = MD5(document.getElementById('pre_password').value);        
}
</script>
<script type="text/javascript">
$(document).ready(function(){
  $( "#pass" ).validate({
      rules: {
          password: {
             isFormat: true
            },
          passwd: {
             equalTo: "#password"
            },
      },
      messages: {
        password: {
              isFormat: $.format("密码必须6-12位，不能为纯字母或数字")
            },
        passwd: {
              equalTo: "两次输入的密码不一致"
            },
      }
  });
   
  jQuery.validator.addMethod("isFormat", function(value, element) {
        var pwdRegex = new RegExp('(?=.*[0-9])(?=.*[a-zA-Z]).{6,12}');
        return this.optional(element) || (pwdRegex.test(value));
    }, "密码必须6-12位，不能为纯字母或数字");
 
});
</script>

<fieldset class="layui-elem-field layui-field-title site-title">
    <legend><a name="default">用户密码修改</a></legend>
</fieldset>
<form id="pass" name="pass" class="layui-form layui-form-pane" action="passwordchange" method="post" onsubmit="myFunction()">
    <label class="login-title" for="pre_password">请输入原密码</label>
    <div class="layui-form-item">
        <div class="layui-input-inline login-inline">
            <input type="password" id="pre_password" name="pre_password" lay-verify="required" placeholder="请输入原密码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <label class="login-title" for="password">请输入要修改的密码</label>
        <div class="layui-form-item">
            <div class="layui-input-inline login-inline">
                <input type="password" id="password" name="password" lay-verify="required" placeholder="请输入新密码" autocomplete="off" class="layui-input">
            </div>
        </div>
    <label class="login-title" for="passwd">确认密码</label>
        <div class="layui-form-item">
            <div class="layui-input-inline login-inline">
                <input type="password" id="passwd" name="passwd" lay-verify="required" lay-verify="required" placeholder="请再次输入密码" autocomplete="off" class="layui-input">
            </div>
        </div>     
    <div class="form-actions">
        <button class="btn btn-warning pull-right" lay-submit lay-filter="login"  type="submit">修改</button>
    </div>
</form> 