<table class="layui-table">
    <thead>
        <tr>
            <th>活动id</th>
            <th>活动名称</th>
            <th>昵称</th>
            <th>姓名</th>
            <th>学号</th>
            <th>手机号</th>
        </tr>
    </thead>
    <tbody>
        {volist name="lists" id="vo"}
            <tr>
                <td>{$vo.goods_id}</td>
                <td>{$vo.name}</td>
                <td>{$vo.username}</td>
                <td>{$vo.stu_name}</td>
                <td>{$vo.stu_id}</td>
                <td>{$vo.mobile}</td>
            </tr>
        {/volist} 
    </tbody>
</table>