<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<title>活动报名</title>
	<link href="/static/css/timeTo.css" type="text/css" rel="stylesheet"/>
	<link href="/static/css/style.css" type="text/css" rel="stylesheet"/>
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/jquery.time-to.min.js"></script>
</head>

<body>
	<div id="box">
		<img class="ms_pic"  src="/static/img/back.jpg" />
		<div id="ms"> </div>
	</div>
	
	<div  class="countdown" id="countdown"></div>
</body>

<script>

$.get('getTime',function(res){
		
	if(res.status=='fail'){
		alert(res.msg);
		window.location.href='http://172.81.214.81/user/index/login';
		return ;
	}
	tt = res.time;	

	if(tt<0){
    	tt='stop';
	}


	$('#countdown').timeTo(tt,function(){
    	$('#ms').append('<img id="ms_start"  class="ms_start"  src="/static/img/start.jpg" />');
	});

})

$('#ms').on('click','img',function(){
	if(localStorage.getItem('clk')==null){
		console.log('start');	
		localStorage.setItem('clk',true);
		
		$.get('getPath',{id:1},function(res){
			if(res.status=='success'){
			    console.log(res.url);
				//这里开始请求  秒杀接口  带着 res.url
				$.get('order'+'?id=1&url='+res.url,function(res){
						if(res.status=='success'){
							alert(res.msg);
						}else{
							alert(res.msg);
						}
				});
			}
		});

	}else{
		$('#ms').html('');
		alert('报名只能点击一次');	
	}

});




</script>
</html>
