<fieldset class="layui-elem-field layui-field-title site-title">
    <legend><a name="default">添加学生信息</a></legend>
</fieldset>
<form class="layui-form layui-form-pane" action="addstulist" method="post">
    <label class="login-title" for="stu_id">学号</label>
    <div class="layui-form-item">
        <div class="layui-input-inline login-inline">
            <input type="text" name="stu_id" lay-verify="required" placeholder="请输入学号" autocomplete="off" class="layui-input">
        </div>
    </div>
    <label class="login-title" for="stu_name">学生姓名</label>
        <div class="layui-form-item">
            <div class="layui-input-inline login-inline">
                <input type="text" name="stu_name" lay-verify="required" placeholder="请输入学生姓名" autocomplete="off" class="layui-input">
            </div>
        </div>
    <label class="login-title" for="enroll">入学时间</label>
        <div class="layui-form-item">
            <div class="layui-input-inline login-inline">
                <input type="text" name="enroll" lay-verify="required" placeholder="请输入入学时间" autocomplete="off" class="layui-input">
            </div>
        </div>
    <div class="form-actions">
        <button class="btn btn-warning pull-right" lay-submit lay-filter="login"  type="submit">添加</button>
    </div>
</form> 